.repos {
  text-align: left;
  width: 100%;

  &__heading {
    margin: 2.5rem 0 1.25rem;
    font-size: 1.125rem;
  }
  
  &__table {
    border-collapse: collapse;
    width: 100%;
    &-row {
      background-color: $tertiary;
      animation-name: fade-in;
      animation-duration: 0.1s;
      animation-timing-function: ease-out;

      &:nth-child(2n) {
        background-color: $white;
      }

      @for $i from 1 through 5 {
        &:nth-child(5n+#{$i}) {
          animation-duration: #{$i*0.1}s;
        }
      }

      &--empty {
        background-color: transparent;
      }
    }

    &-cell {
      padding: 0.25rem 0.5rem;

      &--empty {
        padding: 0;
      }
    }

    &-link {
      color: $primary;
      text-decoration: none;
      transition: color 0.3s;

      &:hover,
      &:focus,
      &:active {
        color: $black;
      }
    }
  }
}