<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#006400">
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" href="/favicon.ico">
  <title>QConcursos (glaubernm@gmail.com)</title>
</head>

<body>
  <header class="header">
    <h1 class="header__heading">Glauber Mota</h1>
    <div class="menu">
      <nav class="menu__nav">
        <ul>
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="#sobre">Sobre</a>
          </li>
          <li>
            <a href="#desafio">Desafio</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <section class="home" id="home">
      <header class="home__header">
        <h2 class="home__heading">Desenvolvedor Front End</h2>
      </header>

      <span class="home__text">Desafio QConcursos.com</span>

      <footer class="home__footer">
        <nav class="menu__nav">
          <ul>
            <li>
              <a href="https://github.com/glauberm">
                <img class="home__img" src="<%= require('./assets/img/github.svg') %>" alt="GitHub" />
              </a>
            </li>
          </ul>
        </nav>
      </footer>
    </section>

    <section class="about" id="sobre">
      <h2 class="h2 about__heading">Sobre</h2>
      <p class="about__text">
        Tive a oportunidade de fazer curso técnico de informática integrado ao ensino médio no IF (antigo CEFET), por isso trabalho
        com desenvolvimento web há muito tempo. No princípio eram adaptações de layouts para pequenos sites e lojas virtuais,
        mas que me deram uma boa base dos fundamentos da web.
      </p>
      <p class="about__text">
        Desde então, aprofundei e expandi bastante meu conhecimento. Recentemente, pude projetar e desenvolver um sistema sozinho
        e do zero, em uma experiência na qual eu estive ao mesmo em contato direto com os usuários e com o serviço de hospedagem,
        e pude aprender sobre o processo de ponta a ponta.
      </p>
      <p class="about__text">
        Atualmente, tenho me interessado cada vez mais por design digital, interface e experiência do usuário, e desenvolvimento
        front-end em geral. Tenho experimentado com React e AngularJS, e tento ficar sempre atualizado sobre as novas tendênciase
        tecnologias da área.
      </p>
    </section>

    <section class="challenge" id="desafio">
      <header class="challenge__header">
        <h2 class="challenge__heading">Desafio</h2>
      </header>

      <section class="user">

        <header class="user__header">
          <h3 class="h3 user__heading hidden">Usuário</h3>
        </header>
        <form class="user__form" action="#desafio" method="get">
          <input class="user__input" id="user" type="text" placeholder="Insira um nome de usuário" />
        </form>
        <div class="user__main">
          <img class="user__img" src="<%= require('./assets/img/user.svg') %>" alt="Imagem do usuário" id="user-img" />
          <a class="user__link" href="#" target="__blank" id="user-link">Visitar perfil</a>
        </div>
        <div class="user__info">
          <dl class="user__dl">
            <dt class="user__dt">Repositórios</dt>
            <dd class="user__dd" id="repos">0</dd>
            <dt class="user__dt">Seguidores</dt>
            <dd class="user__dd" id="followers">0</dd>
            <dt class="user__dt">Seguindo</dt>
            <dd class="user__dd" id="following">0</dd>
          </dl>
          <a class="user__btn" href="#" target="__blank" id="user-repos-link">Ver repositórios</a>
          <a class="user__btn" href="#" target="__blank" id="user-starred-link">Ver favoritos</a>
        </div>

        <section class="repos">
          <div class="repos__table-wrapper">
            <header class="repos__header">
              <h4 class="h4 repos__heading">Lista dos repositórios</h3>
            </header>
            <table class="repos__table">
              <tbody class="repos__tbody" id="repos-tbody">
                <tr class="repos__table-row">
                  <td class="repos__table-cell">...</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

      </section>
    </section>

  </main>

  <footer class="footer">
    <span class="footer__text">Desafio Desenvolvedor Front Qconcursos.com</span>
  </footer>
</body>

</html>